/* ingen onödiga mellanrum */
body, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #fff;
    background-size: cover;
}
.container{
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
}

header{
    text-align: center;
    margin-bottom: 20px;
}
.min-profil p{  /* stilar första paragraf */
    font-weight: 700;
    margin: 20px;
    font-style: oblique;
}
/* header stilsättning */
h1{
    color:#2F1C6A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    box-shadow: 4px 4px 5px rgb(1, 75, 145);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    border-radius: 15px;
    padding: 5px;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    cursor: pointer;

}
main{                
    display: grid; /* main använder grid dvs kolumn display */
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.min-profil{
    text-align: center;
    margin: 40px;
}

.min-profil img{ /* personlig bild */
    width: 160px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 10px;
    transition: all 1s;
}
h2{
    color: black;
}

.bakgrund, .kontakt { /* innehåller information */
    background: #F4F5FF;
    margin-top: 40px;
    padding: 30px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

h3{
    color: #2F1C6A;
}
img:hover{
    transform: scale(1.3);
}

.button a{
    margin: 60px 50px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* CV knapp standard färg */
    color: #fff; /* Text färg */
    text-decoration: none; /* tar bort underline */
    border: 1px solid #007bff;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}
.button2 a{
    margin: 60px 50px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #2f4f4f;; /* CV knapp standard färg */
    color: #fff; /* Text färg */
    text-decoration: none; /* tar bort underline */
    border: 1px solid #2f4f4f;;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}


.button a:hover {
    background-color: #008000; /* Ändrar knappfärg till grön när man håller muspekaren */
    border: 1px solid #008000;
}
.button2 a:hover{
    background-color: #007bff; /* Ändrar knappfärg till grön när man håller muspekaren */
    border: 1px solid #007bff;;

}

.social { /* sociala media icons */
    font-size: 17px;
    display: flex; /* iconer ligger horisontell */
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    text-decoration: none;
    gap: 1.5rem;
}

.social a {
    color: #eee;
}

.social a:hover { /* Ändrar iconerma färgen när man håller muspekaren */
    color: #007bff;
}

footer {
    width: 100%;
    padding: 3px 0;
    /* margin-top: 40px; */ /* kasaar */
    text-align: center;
   /*  padding: 5px 8px */;
    color: white;
    background: #313a40;
    position: fixed; /* badal */
   /*  z-index: 2; */ /* kasaar */
   bottom: 0;
   left: 0;
   right: 0;
}
    

/* Media query för att göra sida responsive för olika skärmar */
@media (max-width: 768px) {
    main{
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
   
}


@media (min-width: 1025px) {
    main{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 759px) {
    .button a {
        margin-bottom: 60px;
       
    }
    .button2 a{
        margin-bottom: 100px;
    }

}