body, h1, h3, h4, p{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
header{
    text-align: center;     /* stilar header */
    background-color: #2f4f4f;
    color: #fff;
    padding: 20px 0;
    border-radius: 10px; 

}
h4{
    margin-top: 40px;
    margin-right: 160px;
    text-align: center;
    font-size: 17px;
}
.container{
    max-width: 600px;
    margin: 0 auto; 
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
form{  
    display: grid; /* formulär display grid visar kolumn */
    gap: 10px;
}
label{
    font-weight: 400;
}

/* formulär man fylla med personlig info*/

input[type="text"],
input[type="email"], 
textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]{
    background-color: #2f4f4f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
textarea{
    min-height: 150px;
    
}

/* anchor som liknar knapp */
.button a{
    background-color:#2f4f4f;  
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    
}
.button a:hover{
    background-color:#0082e6;
    
}
.button{
    margin-top: 20px;
}

/* Responsive för olika skärm storlek */

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }
    form{
        grid-template-columns: 1fr;
    }
    
    
}
